.about-us, .about-us-text {
	margin-top: 2rem;
}
.about-us__title, .about-us-text__title {
	font-family: 'RobotoCondensed-Bold';
	font-weight: bold;
	font-size: 1.5rem;
	text-transform: uppercase;
}
.about-us__img {
	background-color: #b6b6b6;
	width: 73.125rem;
	height: 16rem;
	border-radius: 10px;
	overflow: hidden;
}
