.footer-page {
	padding: 0.625rem 0;
}
.footer-copyright {
	float: left;
}
.footer-copyright__copyright {
	font-size: 0.75rem;
	color: #959595;
	text-transform: uppercase;
}
.footer-logo a {
	font-size: 0.75rem;
	color: #959595;
	text-transform: uppercase;
}
.footer-social {
	float: right;
}